{
  "presets": ["babel-preset-expo"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          "js",
          "ts",
          "tsx"
        ],
        "alias": {
          "$images": "./src/app/assets/images",
          "@actions": "./src/app/actions",
          "@components": "./src/app/components",
          "@config": "./src/app/config",
          "@lib": "./src/app/lib",
          "@reducers": "./src/app/reducers",
          "@routes": "./src/app/routes"
        }
      }
    ]
  ]
}